* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    #fcbe00,
    #fb8d00,
    #cc5054,
    #a12ba1,
    #7e0ddf
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  margin: 0;
}
.main {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.sub-head {
  display: flex;
  column-gap: 30px;
}
.head {
  display: flex;
  justify-content: space-between;
}
.head button {
  color: white;
  width: 120px;
  height: 60px;
  background-color: #282a3a;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  font-weight: bold;
}
.moves-time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.moves,
.time {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.win-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 250px;
  height: 60px;
  background-color: green;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  font-weight: bold;
}
.hidden {
  display: none;
}
.container {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(
    225deg,
    #fcbe00,
    #fb8d00,
    #cc5054,
    #a12ba1,
    #7e0ddf
  );
  width: 630px;
  height: 630px;
  border-radius: 15px;
  perspective: 1000px;
}
.card {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 15px;
  border-radius: 15px;
  border: none;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.front-face {
  position: absolute;
  background-color: #282a3a;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: scale(1);
  backface-visibility: hidden;
}
.back-face {
  background: white;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
.card.flip {
  transform: rotateY(180deg);
}

@media screen and (max-width: 800px) {
  .container {
    width: 90vw;
    height: 90vw;
    margin: auto;
    padding: 5px;
  }
  .card {
    margin: 5px;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
  }
  .moves,
  .time {
    font-size: 20px;
  }
  .head {
    flex-direction: column;
    row-gap: 20px;
  }
  .win-message {
    width: 90vw;
  }
}
